:root {
  --text: #fff;
  --main-color: #7f6e9c;
  --side--color: #9c84b8;
  --main-dark: #212025;
  --side-dark: #1e1d21;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: var(--main-color);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text);
}
.content_container {
  width: 90%;
  height: 90vh;
  background-color: var(--main-dark);
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.content_info {
  /* background-color: green; */
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
}
ul {
  width: 50%;

  /* background-color: blue; */
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;

  font-weight: 200;
  cursor: pointer;
}
.info_container {
  width: 60%;
}
.name {
  font-size: 4rem;
  line-height: 3.5rem;
  font-weight: 800;
}
.info_container p {
  margin-top: 1.5rem;
  color: #cfcfcf;
  font-weight: 200;
}
.content_pic {
  width: 40%;
  height: 100%;
  /* background-color: azure; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.content_pic img {
  width: 27rem;
  /* mix-blend-mode: darken; */
  /* background-blend-mode: hard-light; */
  /* background-color: gray; */
  z-index: 10;
  padding-bottom: 12rem;
}
/* .pic {
  background-color: #2120256c;
  width: 30rem;
  height: 34.5rem;
  z-index: 15;
  position: absolute;
  top: 0;
} */

.pic_backColor {
  width: 16%;
  height: 67%;
  background-color: var(--side--color);
  position: absolute;
  top: 0;
  right: 12%;
  z-index: 5;
}
.content_bottom {
  background-color: var(--side-dark);
  width: 100%;
  height: 33%;
  position: absolute;
  bottom: 0;
}
